<mat-card class="example-card">
    <mat-card-subtitle>Login</mat-card-subtitle>
    <mat-card-content>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="username">
        </mat-form-field><br>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password">
        </mat-form-field>
    </mat-card-content>
            <button (click)="onClick()">Entrar</button>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>